* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.wrap {
  height: 100vh;
  width: 100vw;
  background-color: black;
  /* max-width: 100%; */
  /* min-height: 100%; */
  /* display: flex; */
  font-family: sans-serif;
}

.clearfix {
  content:"";
  display: table;
  clear: both;
}

aside {
  width: 200px;
  /* min-width: 200px; */
  height: calc(100vh - 70px);
  background-color: black;
  /* border: 10px solid black; */
  float: left;
  /* overflow-y: scroll; */
  z-index: -11;
}

.inner {
  overflow-y: scroll;
  color: white;
}

.logotype {
  height: 70px;
  /* background-color: grey; */
  display: flex;
  z-index: -10;
}

.logotype img {
  width: 60%;
  margin: auto 5%;
}

nav {
  width: calc(100% - 200px);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  /* float: right; */
}

.container.due {
  margin-top: 70px;
  height: calc(100vh - 140px);
  background-color: #141922;
  overflow-y: scroll;
}

.container.due .row.menu {
  /* border: 1px solid white; */
  height: 70px;
  /* justify-content: center; */
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  /* font-size: 1rem; */
  color: #7d7f84;
}

.container.due .row.menu ul li {
  display: inline-block;
  /* color: white; */
  padding: 10px 5px;
  font-weight: bold;
}

.container.due .row.menu ul li:hover a {
  color: white;
}

li.underline hr {
  width: 30%;
  margin: 0 auto;
  background: #ADFF2E;
  border: 1px solid #ADFF2E;
  border-radius: 1px;
}



.container.due .row {
  /* margin-top: 70px; */
  display: flex;
  /* Questo sotto, insieme ad overflow hidden, spostato in container due nuovo messo appena sopra */
  /* height: calc(100vh - 140px); */
  /* border: 1px solid black; */
  /* background-color: #141922; */
  /* width: 100vw; */
  /* max-width: 100%; */
  /* border: 2px solid blue; */
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  /* justify-content: flex-start; */
  align-content: flex-start;
  /* align-content: space-evenly; */
  /* overflow-y: scroll; */
  /* float: left; */
  color: white;
  margin-bottom: 20px;
}

.container.due .row .item-box {
  width: calc(100% / 6 - 10px);
  /* min-width: 200px; */
  /* height: calc/100% / 5 -10px); */
  /* height: 200px; */
  /* border: 1px solid white; */
  /* background-color: pink; */
  margin: 5px;
  /* Inserendo il layover devo mettere un position relative nel suo contenitore, cioè qui */
  /* position: relative; */
  text-align: center;
}

.container.due .row .item {
  position: relative;
}

.row .title {
  width: 100%;
  /* color: white; */
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 20px;
}

.row .item-box .playlist-tag {
  padding: 15px;
  font-weight: bold;
  width: 100%;
  /* border: 1px solid red; */
}

.row .subtitle {
  font-size: 0.6em;
  padding: 5px 0;
  color: #7d7f84;
  /* border: 1px solid green; */
}

 img {
  width: 100%;
  /* background-color: rgba(0, 0, 0, 1); */
}

/* Inserimento del layover */
.layover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
}
/* TODO: Dovresti provare, se hai tempo, a centrare il layover impostando display:flex ad item e margin: auto al layover */

.item:hover .layover {
  background-color: rgba(0, 0, 0, .5);
}

.play {
  display: flex;
  height: 100%;
  visibility: hidden;
}

.item .layover .play>img {
  width: 40%;
  margin: auto;
}

.item:hover .play {
  visibility: visible;
}
/* /Inserimento del layover */

.item.circle .layover{
  border-radius: 50%;
}

.item.circle img{
  border-radius: 50%;
}



nav, footer {
  height: 70px;
}


nav {
  /* background-color: #080B12; */
  background-color: rgba(22, 22, 22, 0.7);
}

footer {
  background-color: #282828;
  /* position: relative;
  z-index: 100000; */
  position: fixed;
  bottom: 0;
  right: 0;
  /* border: 1px solid red; */
  /* z-index: -1; */
  width: 100vw;
  /* max-width: 100%; */
}







/*-------- MEDIA QUERY --------*/


/* md */
@media screen and (max-width: 1199px) {

  .container.due .row .item-box {
    width: calc(100% / 4 - 10px);
 }

  .container.due .row {
      margin-bottom: 15px;
  }

  .row .item-box .playlist-tag {
    padding: 10px;
  }

}

 /* sm */
 @media screen and (max-width: 991px) {

   .container.due .row .item-box {
     width: calc(100% / 2 - 10px);
  }

  .container.due .row {
      margin-bottom: 10px;
  }

  .row .item-box .playlist-tag {
    padding: 10px;
  }

 }


 /* xs */
 @media screen and (max-width: 768px) {

   .container.due .row .item-box {
     width: calc(100% / 2 - 10px);
  }

  .container.due .row {
      margin-bottom: 10px;
  }

  .row .item-box .playlist-tag {
    padding: 10px;
  }
  
 }
