/* Class Utility */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.clearfix {
  content:"";
  display: table;
  clear: both;
}

/* END Class Utility */

body {
  /* font-family: 'Noto Sans JP', sans-serif; */
}

.wrap {
  height: 100vh;
  width: 100vw;
  background-color: black;
  max-width: 100%;
  /* min-height: 100%; */
  font-family: sans-serif;
}

nav, footer {
  height: 70px;
}

aside {
  width: 200px;
  /* min-width: 200px; */
  height: calc(100vh - 70px);
  background-color: black;
  /* border: 1px solid white; */
  float: left;
}

.logotype {
  height: 70px;
  display: flex;
}

.logotype img {
  width: 60%;
  margin: auto 5%;
}

aside .inner {
  overflow-y: scroll;
  color: white;
}

nav {
  width: calc(100% - 200px);
  /* background-color: #080B12; */
  background-color: rgba(22, 22, 22, 0.7);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

nav input[type="submit"] {
  color: white;
  background-color: inherit;
  padding: 10px 40px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}

.container {
  margin-top: 70px;
  height: calc(100vh - 140px);
  width: calc(100% - 200px);
  background-color: #141922;
  overflow-y: scroll;
  /* border: 1px solid red; */
  float: left;
}

.container .row.menu {
  /* border: 1px solid green; */
  padding: 5px;
  /* height: 70px; */
  /* justify-content: center; */
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  /* font-size: 1rem; */
  color: #7d7f84;
}

.container .row.menu ul li {
  display: inline-block;
  /* color: white; */
  padding: 10px 5px;
  font-weight: bold;
}

.container .row.menu ul li:hover a {
  color: white;
}

li.underline hr {
  width: 30%;
  margin: 0 auto;
  background: #ADFF2E;
  border: 1px solid #ADFF2E;
  border-radius: 1px;
}

.container .row {
  display: flex;
  /* border: 2px solid blue; */
  flex-wrap: wrap;
  align-content: flex-start;
  color: white;
  margin-bottom: 20px;
}

.container .row .item-box {
  width: calc(100% / 6 - 10px);
  /* border: 1px solid white; */
  margin: 5px;
  text-align: center;
}

.container .row .item {
  position: relative;
}

.row .title {
  width: 100%;
  /* color: white; */
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 20px;
}

.row .item-box .playlist-tag {
  padding: 15px;
  font-weight: bold;
  width: 100%;
  /* border: 1px solid red; */
}

.row .subtitle {
  font-size: 0.6em;
  padding: 5px 0;
  color: #7d7f84;
  /* border: 1px solid green; */
}

.item > img {
  width: 100%;
  vertical-align: middle;
}

/* Inserimento del layover */
.layover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
}
/* TODO: Dovresti provare, se hai tempo, a centrare il layover impostando display:flex ad item e margin: auto al layover */

.item:hover .layover {
  background-color: rgba(0, 0, 0, .5);
}

.play {
  display: flex;
  height: 100%;
  visibility: hidden;
}

.item .layover .play>img {
  width: 40%;
  margin: auto;
}

.item:hover .play {
  visibility: visible;
}

.item.circle img, .item.circle .layover {
  border-radius: 50%;
  /* border: 1px solid white; */
}

/* END Inserimento del layover */


.item.circle img {
  vertical-align: middle;
}

footer {
  background-color: #282828;
  position: fixed;
  bottom: 0;
  right: 0;
  /* border: 1px solid red; */
  width: 100%;
}

footer .listening, footer .volume {
  /* border: 1px solid yellow; */
  width: 200px;
  height: 100%;
  float: left;

}

footer .listening {
  display: flex;
  align-items: center;

}

footer .listening .album-picture {
  width: 50px;
  height: 100%;
  /* background-color: red; */
  display: flex;
}

footer .listening .album-picture img {
  width: 40px;
  margin: auto;
}

.listening-right {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid white; */
  width: calc(100% - 50px);
  padding: 4px;
}

footer .listening .listening-right .album-name {
  /* height: 70px; */
  font-size: 0.5rem;
  color: white;
  /* align-self: center; */
  /* border: 1px solid red; */
}

footer .listening .listening-right .album-name .hit-name {
  font-size: 0.8em;
  color: #7d7f84;
}

footer .listening .listening-right .action i{
  color: #7d7f84;
}

footer .play-bar {
  /* border: 1px solid red; */
  width: calc(100% - 400px);
  min-width: 164px;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;

}

footer .play-bar .controller, footer .play-bar .timeline-box {
  /* border: 1px solid grey; */
  height: 50%;
  display: flex;
  width: 60%;
  min-width: 164px;
  justify-content: center;
  margin: auto;
}

footer .play-bar .controller i {
  align-self: center;
  margin: 0 10px;
  color: white;
  /* border: 1px solid red; */
  cursor: pointer;
}

footer .play-bar .controller i:nth-child(3) {
  font-size: 30px;
}

footer .play-bar .timeline-box {
  display: flex;
  align-content: center;
}

footer .play-bar .timeline-box .timeline {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #5a5a5a;
  align-self: center;
  position: relative;
  margin: 0 20px;
}

footer .play-bar .timeline-box .timeline .elapsed-time {
  width: 20%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  background-color: #c1c1c1;
}

footer .play-bar .timeline-box .time-left, footer .play-bar .timeline-box .time-right {
  align-self: center;
  font-size: 0.8em;
  color: #c1c1c1;
}

footer .play-bar .timeline-box span {
  font-size: 0.8em;
}












/*-------- MEDIA QUERY --------*/


  /* md */
  @media screen and (max-width: 1199px) {

    .container .row .item-box {
      width: calc(100% / 4 - 10px);
   }

    .container .row {
        margin-bottom: 15px;
    }

    .row .item-box .playlist-tag {
      padding: 10px;
    }

  }
  /* END md */

  /* sm */
  @media screen and (max-width: 991px) {

     .container .row .item-box {
       width: calc(100% / 2 - 10px);
    }

    .container .row {
        margin-bottom: 10px;
    }

    .row .item-box .playlist-tag {
      padding: 10px;
    }

  }
  /* END sm */

  /* xs */
  @media screen and (max-width: 768px) {

     .container .row .item-box {
       width: calc(100% / 2 - 10px);
    }

    .container .row {
        margin-bottom: 10px;
    }

    .row .item-box .playlist-tag {
      padding: 10px;
    }

  }
  /* END xs */
